# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [73]:
import pandas as pd
df = pd.read_csv('candyhierarchy2017.csv')
df.head(10)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
6,90272853,No,Male,53,usa,Colorado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(55, 5)"
8,90272858,No,Male,40,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,NaN,NaN,Blue and black,NaN,Sunday,NaN,1.0,NaN,NaN,"(76, 24)"
9,90272859,No,Female,53,Us,Wa,MEH,DESPAIR,JOY,MEH,...,NaN,NaN,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(70, 28)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 120 entries, Internal ID to Click Coordinates (x, y)
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

In [9]:
df.shape

(2460, 120)

In [20]:
df.dtypes

Internal ID                   int64
Q1: GOING OUT?               object
Q2: GENDER                   object
Q3: AGE                      object
Q4: COUNTRY                  object
                             ...
Q12: MEDIA [Daily Dish]     float64
Q12: MEDIA [Science]        float64
Q12: MEDIA [ESPN]           float64
Q12: MEDIA [Yahoo]          float64
Click Coordinates (x, y)     object
Length: 120, dtype: object

 - notice: age column is object and should be int

In [25]:
df.duplicated().any()

False

note: no duplicated rows

In [26]:
df.isna().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

In [29]:
df['Q3: AGE'].unique()

array([nan, '44', '49', '40', '23', '53', '33', '43', '56', '64', '37',
       '59', '48', '54', '36', '45', '25', '34', '35', '38', '58', '50',
       '47', '16', '52', '63', '65', '41', '27', '31', '61', '46', '42',
       '62', '29', '39', '32', '28', '69', '67', '30', '22', '26', '51',
       '70', '24', '18', '19', 'Old enough', '57', '60', '66', '12',
       'Many', '55', '72', '?', '21', '11', 'no', '9', '68', '20', '6',
       '10', '71', '90', '13', '45-55', '312', '99', '7', 'hahahahaha',
       '88', '39.4', '74', '102', 'older than dirt', '17', '15', '8',
       '75', '5u', 'Enough', 'See question 2', '24-50', '14', 'Over 50',
       '100', '76', '1000', 'sixty-nine', '46 Halloweens.', 'ancient',
       '77', 'OLD', 'old', '73', '70 1/2', '1', 'MY NAME JEFF', '4',
       '59 on the day after Halloween', 'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

# 3- summary about what i get form the above functions

-  there is a missing values
-  wrong data types , There isn't any duplicate's rows
-  there is a wrong range and values in age's columns

# cleaning

### 4- drop all the useless columns and  rows with too much NaN ,
- useless columns can be like `Internal ID`and can be also columns with too much NaN
- I will rename columns for easy access

In [34]:
useless_columns = ['Internal ID','Unnamed: 113','Q12: MEDIA [Daily Dish]','Q12: MEDIA [Science]','Q12: MEDIA [ESPN]','Q12: MEDIA [Yahoo]','Click Coordinates (x, y)']
df_new = df.drop(useless_columns ,axis = 1)

# drop all columns and rows with too much NaN

columns_drop = df_new.isna().sum(axis=0) > 1500
df_new = df_new.drop(df_new.columns[columns_drop==True],axis= 1)

rows_drop = df_new.isna().sum(axis=1) > 50
df_new = df_new.drop(df_new.index[rows_drop==True],axis= 0)


# rename for all columns

new_columns = []
x =str(1)
for i in df_new.columns :
    dd = 'Q6:kind'+ x
    if i[:2] != 'Q6' :
      new_columns.append(i[:3])
    else  :
      new_columns.append(dd)
      x = str(int(x)+1)
        
df_new.columns = new_columns
df_new.columns = df_new.columns.str.strip(':')

# arrange the rows again
rename_rows = []
for i in range( 1 , df_new.shape[0]+1) :
    rename_rows.append(i)
df_new.index = rename_rows
df_new

,Q1,Q2,Q3,Q4,Q5,Q6:kind1,Q6:kind2,Q6:kind3,Q6:kind4,Q6:kind5,...,Q6:kind96,Q6:kind97,Q6:kind98,Q6:kind99,Q6:kind100,Q6:kind101,Q6:kind102,Q6:kind103,Q10,Q11
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday
2,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday
3,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,JOY,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday
4,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,NaN,...,MEH,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,NaN,NaN
5,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,...,DESPAIR,JOY,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,Blue and black,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1774,No,Female,26,USA,Michigan,JOY,MEH,JOY,DESPAIR,MEH,...,JOY,JOY,MEH,MEH,JOY,MEH,MEH,JOY,White and gold,Friday
1775,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,JOY,JOY,MEH,JOY,DESPAIR,MEH,DESPAIR,MEH,White and gold,Friday
1776,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,NaN,...,DESPAIR,JOY,NaN,NaN,JOY,DESPAIR,MEH,JOY,Blue and black,Friday
1777,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,MEH,MEH,MEH,JOY,MEH,DESPAIR,DESPAIR,MEH,Blue and black,Friday
1778,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,JOY,White and gold,Sunday

 notice:
-       I chose the number 1500 based on the number of data I have, similarly the number 50.
-         also note that each column contains Q6 indicating kind of chocolate bars , 
-        And what the other columns refer to is explained on the first page

### 5 - clean `going out` column >> Q1

In [37]:
df_new.fillna({'Q1':'Not answered'},inplace = True)
df_new['Q1'] = df_new['Q1'].str.strip(' ')
df_new['Q1'] = df_new['Q1'].astype('category')
df_new['Q1'].unique()

['No', 'Yes', 'Not answered']
Categories (3, object): ['No', 'Not answered', 'Yes']

### 6 - clean ` gender` column >> Q2

In [38]:
df_new.fillna({'Q2':'Not answered'},inplace = True)
df_new['Q2'] = df_new['Q2'].str.strip(' ')
df_new['Q2'] = df_new['Q2'].astype('category')
df_new['Q2'].unique()

['Male', 'Female', 'I'd rather not say', 'Other', 'Not answered']
Categories (5, object): ['Female', 'I'd rather not say', 'Male', 'Not answered', 'Other']

### 7 - clean ` age` column >> Q3

In [46]:
df_new['Q3'] = pd.to_numeric(df_new['Q3'], errors ='coerce')

df_new.loc[df_new['Q3'] > 70 , 'Q3' ] = int( df_new['Q3'].mean() )
df_new.fillna({'Q3': df_new['Q3'].mean()} , inplace = True)
df_new['Q3'] = df_new['Q3'].astype('int')
assert df_new['Q3'].max() <= 70
assert df_new['Q3'].isna().sum() == 0
df_new['Q3'].unique()

array([44, 40, 23, 42, 33, 53, 56, 64, 43, 37, 59, 48, 45, 49, 34, 35, 38,
       58, 50, 47, 52, 63, 65, 41, 31, 61, 46, 54, 62, 29, 36, 32, 28, 69,
       67, 39, 30, 25, 22, 51, 70, 24, 27, 18, 19, 57, 66, 12, 60, 55, 21,
       11, 68, 20,  6, 10, 13, 26,  9, 15,  8, 17,  7, 14, 16,  4])

- notice: I chose number 70 to say for example that he is still able to come

### 8 - clean ` country` column >> Q4
> note that country column has country names with different writing ways
  - I will use fuzzywuzzy to deal with this problem

In [47]:
df_new['Q4'].unique()

array(['USA ', 'us', 'usa', nan, 'canada', 'Canada', 'Us', 'US', 'Murica',
       'USA', 'uk', 'United States', 'united states', 'Usa',
       'United staes', 'United Kingdom', 'United States of America',
       'UAE', 'United States ', 'canada ', 'United states', 'u.s.a.',
       'USAUSAUSA', 'america', 'france', 'United States of America ',
       'U.S.A.', 'Mexico', 'Canada ', 'united states of america',
       'US of A', 'UK', 'Unites States', 'The United States',
       'North Carolina ', 'Netherlands', 'Europe', 'Earth', 'U S', 'u.s.',
       'Costa Rica', 'The United States of America', 'cascadia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'Pittsburgh', 'United State', 'France', 'U.S.', 'A',
       'Can', 'Canae', 'New York', 'Trumpistan', 'Ireland',
       'United Sates', 'Korea', 'Australia', 'California', 'Japan', 'USa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Iceland', 'Canada`', 'Scotland', 'Denmark', 'France ',
       'Uk', 'Switzerland', 'Ahem....Amerca', 'South Korea', 'New Jersey',
       'CANADA', 'United Stated', 'Germany', 'America', 'United Statss',
       'endland', 'Atlantis', 'murrika', 'Alaska', 'united States ',
       'germany', 'N. America', 'USSA', 'Taiwan', 'China', 'spain',
       'U.S. ', 'Narnia', 'u s a', 'United Statea',
       'subscribe to dm4uz3 on youtube', 'USA USA USA!!!!',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

In [51]:

from thefuzz import  process
df_new['Q4'] = df_new['Q4'].str.upper()
df_new['Q4'] = df_new['Q4'].str.strip()

categories = pd.Series(['UNITED STATES','AMERICA','CANADA','MURICA','FRANCE','MEXICO','NORTH CAROLINA','NETHERLANDS','COSTA RICA','CASCADIA','GREECE','PITTSBURGH' ,'CANAE','NEW YORK','TRUMPISTAN','ICELAND','KOREA','AUSTRALIA','CALIFORNIA','JAPAN','SCOTLAND','DENMARK','SWITZERLAND','NEW JERSEY','GERMANY','TAIWAN','CHINA','SPAIN',])
df_new['Q4'] = df_new['Q4'].replace('US','UNITED STATES')
df_new['Q4'] = df_new['Q4'].replace('USA','UNITED STATES')
df_new['Q4'] = df_new['Q4'].replace('U.S.A','UNITED STATES')

for state in categories :
  matches = process.extract(state , df_new['Q4'] , limit= df_new.shape[0] )
  for potential_match in matches :
    if potential_match[1] >= 70 :
      df_new.loc[df_new['Q4'] == potential_match[0],'Q4'] = state


df_new.fillna ({'Q4':'Unkown'},inplace = True)
df_new['Q4'].unique()

array(['UNITED STATES', 'UNKOWN', 'CASCADIA', 'MURICA', 'FRANCE',
       'MEXICO', 'NORTH CAROLINA', 'NETHERLANDS', 'COSTA RICA', 'GREECE',
       'PITTSBURGH', 'NEW YORK', 'TRUMPISTAN', 'ICELAND', 'KOREA',
       'AUSTRALIA', 'CALIFORNIA', 'JAPAN', 'SCOTLAND', 'DENMARK',
       'SWITZERLAND', 'NEW JERSEY', 'GERMANY', 'TAIWAN', 'CHINA', 'SPAIN'],
      dtype=object)

note :
-  I choose categories from >> df_new['Q4'].unique()


```

### 9 - clean ` area` column >> Q5
  area column has the same problem as country columns

### 10 - clean ` Q6` columns
>-  Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name

In [61]:
columns = df_new.columns[df_new.columns.str.contains('Q6')].str.strip('')
df_new[columns] = df_new[columns].fillna('Unkown')
df_new[columns].isna().sum().any()

False

### 11 - clean ` dress` column >> Q10

In [65]:
df_new.fillna({'Q10' : 'Not answered'} ,inplace = True)
df_new['Q10'] = df_new['Q10'].astype('category')
df_new['Q10'].unique()

['White and gold', 'Not answered', 'Blue and black']
Categories (3, object): ['Blue and black', 'Not answered', 'White and gold']

### 12 - clean ` day` column >> Q11

In [66]:
df_new.fillna({'Q11' : 'Not answered'} ,inplace = True)
df_new['Q11'] = df_new['Q11'].astype('category')
df_new['Q11'].unique()

['Sunday', 'Friday', 'Not answered']
Categories (3, object): ['Friday', 'Not answered', 'Sunday']

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values
- all the column are cleaing and ready for the next step `EDA`

In [72]:
assert df_new.isna().sum().all() == 0
df_new.dtypes

Q1            category
Q2            category
Q3               int32
Q4              object
Q5              object
                ...
Q6:kind101      object
Q6:kind102      object
Q6:kind103      object
Q10           category
Q11           category
Length: 110, dtype: object

### 14 - write a summary about all the cleaning steps


- droped all the useless columns and rows with too much NaN , rename columns for easy access and rows.
  
- Clean going out column.

- Clean gender column.
- Clean age column , edit a wrong range of values and convert type to numeric.
- Clean country column and used fuzzwuzzy to deals with country names with different writing ways.
- Clean Q6 columns > > Which refers to the chocolate bars.
- Clean dress column.
- Clean day column.



- And in the end I used assert to check for all cleaning

# The End

# <hr>